.round-border {
  border: 1px solid var(--cr-border);
  border-radius: var(--cr-radius);
  width: 56px;
  height: 56px;
  padding: 10px;
  background: var(--cr-surface);
}
.round-border svg {
  width: 100%;
  height: 100%;
}

.plugin-platform-icon {
  object-fit: contain;
  object-position: center;
}

.plugin-platform-icon svg {
  border: 1px solid var(--cr-border);
  border-radius: var(--cr-radius);
  width: 56px;
  height: 56px;
  padding: 10px;
  background: var(--cr-surface);
}

.repository {
  display: flex;
  margin-bottom: 18px;
  font-family: var(--ifm-font-family-monospace);
  font-weight: 600;
  font-size: 12px;
  line-height: 140%;
}

.repository svg {
  margin-right: 6px;
}

@media only screen and (max-width: 800px) {
  .repository {
    place-content: center;
  }
}
