/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

@use "ifm-variables";
@use "tokens";
@use "global";
@use "sidebar";
@use "tabs";
@use "footer";
@use "navbar";
@use "code-block";
@use "openapi";
@use "doc";
@use "mermaid";

.sdk-column {
  display: flex;
  gap: 16px;
  flex-flow: row wrap;
  margin-bottom: var(--ifm-leading);
}

.sdk-column > div {
  flex: 0 1;
  white-space: nowrap;
}

.sdk {
  border-radius: 8px;
  height: 44px;
  padding: 6px 12px 6px 12px;
}

.sdk * {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}

.sdk div:first-child {
  margin-right: 8px;
}

.sdk .logo-container {
  width: 32px;
  height: 32px;
  margin: 0px !important;
}

.card-img-container {
  min-width: 60px;
  max-width: 60px;
  min-height: 60px;
  max-height: 60px;
  border: 1px solid var(--cr-border);
  border-radius: var(--cr-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--cr-surface);
}

.card-img-container svg {
  width: 50%;
  height: 50%;
  max-width: 30px;
  max-height: 30px;
}

@media only screen and (max-width: 600px) {
  .sdk {
    width: 100% !important;
  }
}

@media only screen and (max-width: 800px) {
  .sdk-column {
    gap: 16px;
  }

  .sdk-column > div {
    flex: 0 0;
    flex-flow: row nowrap;
  }
  .sdk div:has(svg),
  .sdk div:has(img) {
    margin: 0px;
    margin-right: 8px;
  }

  .sdk svg,
  .sdk img {
    height: 42px;
    width: 42px;
  }
}

@media only screen and (min-width: 600px) {
  .sdk div:has(svg),
  .sdk div:has(img) {
    margin-right: 8px;
  }
}
