.card {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.icon {
  grid-area: icon;
}

.questionRow {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

}

.questionRowCol {
  width: 75%;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.questionText {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  padding: 0;
  color: var(--cr-heading);
  > p {
    margin: 0;
    padding: 0;
  }
}


.content {
  grid-area: content;
  color: var(--cr-text);
}

.button-group {
  grid-area: button-group;
  align-self: start;
  justify-self: end;
}


@media only screen and (max-width: 800px) {
  .grid {
    grid-template-areas:
    "icon question"
    "icon button-group"
    "icon content";
  }

  .button-group {
    margin-top: 16px;
    justify-self: start;
  }

  .card {
    text-align: left;
  }
}