.card {
  display: inline-flex;
  align-items: center;
  place-items: center;
}

.repository {
  margin: 0 !important;
}

.card-img-container {
  min-width: 56px;
  max-width: 56px;
  min-height: 56px;
  max-height: 56px;
  border: 1px solid var(--cr-border);
  border-radius: var(--cr-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--cr-surface);
}

.card-img-container svg {
  width: 60%;
  height: 60%;
}
